<!DOCTYPE html>
<html>
  <head>
    <title>IceBreakers</title>
    <link href="/style.css" rel="stylesheet"> <!--add type?  type="text/css"-->
  </head>
  <body>
   <header>
    <nav>
      <ul>
        <li>
          <a href="/questions/new">New Question</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </nav>
    <h3 id="header"><a href="/">Icebreakers</a></h3>
  </header>