<%include partials/header%>
<!-- moved this to header.ejs-->
  <main>
    <div class="jumbotron">
      <h1>Break the Ice!</h1>
      <p>Get to know your teammates, friends, study buddies, or anyone else with some fun web-based, video or text, icebreakers!</p>
    </div>
    <div class="questions">            

      <% questions.forEach(function(question){%>

      <h4><%=question.content%></h4>
      <p><a href="/icebreakers/new?questionID=<%=question.id%>" class="btn">Make an Icebreaker</a></p>
      <%})%>

<!--changed below question to variable from controller-->
      <!--
      <h4><%=//questionTwoText%></h4> 
      <p><a href="#" class="btn">Make an Icebreaker</a></p>
      
      <h4>What olympic sport would you compete in?</h4>
      <p><a href="#" class="btn">Make an Icebreaker</a></p>
      -->

    </div>
  </main>
<!-- moved this to footer.ejs-->
<% include partials/footer%>