<%include ../partials/header%>
<!-- moved this to header.ejs-->
  <main>

    <div class="card">
      <h4>Question: <%=question.content%></h4>
      <h4>Responses:</h4>
      <ul>
      <%icebreakerResponses.forEach(function(icebreakerResponse){%>
      	<li>
	      	<p><%=icebreakerResponse.responseContent%></p>
	      </li>
      <%})%>
      </ul>

    </div>

  </main>
<!-- moved this to footer.ejs-->
<% include ../partials/footer%>